<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>last.fm Friend Rank</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon shortcut" href="http://www.last.fm/favicon.ico" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/sorter.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>
  <body>
    <div id="main">
      <h1>last.fm Friend Rank</h1>
      <form id="the-form">
        <input id="username" type="text" placeholder="last.fm username, i.e. spintriae" />
      </form>
      <progress id="progress"></progress>
      <div id="status-bar"></div>
      <ol id="friend-list"></ol>
    </div>
  </body>
</html>
