<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>last.fm Friend Rank</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon shortcut" href="http://www.last.fm/favicon.ico" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/sorter.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>
  <body>
    <h1>last.fm Friend Rank</h1>
    <div>USAGE: Enter a last.fm username. Results take a while to be processed so be patient.</div>
    <form id="the-form">
      <input id="username" type="text" placeholder="last.fm username" />
      <input id="go-button" type="submit" value="Go" />
    </form>
    <div id="status-bar"></div>
    <ol id="friend-list"></ol>
  </body>
</html>
